<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/vehicules">Supervision des véhicules</a>
        <a class="nav-item nav-link" routerLink="/users">Liste des utilisateurs</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- nav -->
<nav class="navbar-expand navbar-dark bg-dark" *ngIf="!currentUser">
	<h1 align="center">CG06   -   MBDS</h1>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div >
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="https://www.departement06.fr/" target="_top">Département des ALPES-MARITIMES</a>
    </p>
    <p>
        <a href="http://www.mbds-fr.org/" target="_top">MBDS</a>
    </p>
</div>