<div class="user-container">
  <h1 style="margin: auto"> User Details</h1>
  <button class="btn btn-danger" style="width:100px" (click)="addUser()"> Add User</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>FirstName</th>
      <th>LastName</th>
      <th>UserName</th>
      <th>Password</th>
      <th>Created Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.username}}</td>
      <td>{{user.password}}</td>
      <td>{{user.createdDate}}</td>
      <td><!-- <button class="btn btn-success" (click)="deleteUser(user)"> Delete</button>-->
        <button class="btn btn-success" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>
